.menu {
  flex-basis: 20%;
}

.sources {
  list-style: none;
}

.title {
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.source {
  margin-bottom: 9px;
}

.checkbox {
  cursor: pointer;
  margin-right: 10px;
}
