.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 10px 30px;
  display: flex;
  background-color: rgba(96, 158, 203, 0.5);
  flex-grow: 1;
}

.content {
  padding-bottom: 10px;
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4580b4;
  color: #fff;
  padding: 10px 30px
}

.headline {
  flex-basis: 20%;
}

.newsContainer {
  padding-left: 50px;
}
